<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="Datos.Properties.Settings.ManagerRoundsConnectionString"
		  connectionString="Data Source=MQR1NA-RGALARZA;Initial Catalog=ManagerRounds;Integrated Security=True;TrustServerCertificate=True"
		  providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>